body{
    background: linear-gradient(90deg, #3F2E3E, #A78295);
}

.container{
    background: #EFE1D1;
    border-radius: 10px;
    padding-left: 7px;
    height: 345px;
    margin: auto;
    width: 160px;
}

#display{
    background-color: #3F2E3E;
    border-radius: 10px;
    margin-left: -8px;
    outline: none;
    width: 165px;
    height: 40px;
    border: none;
    color: wheat;
}

button{
    background-color: #3F2E3E;
    border-radius: 50px;
    margin-top: 2px;
    cursor: pointer;
    color: wheat;
    outline: none;
    height: 40px;
    border: none;
    width: 40px;
}

button:hover{
    background-color: #352F44;
}

#keys{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 5px;
}

.operator{
    background-color: #A78295;
}

.operator-calculate{
    background-color: #872341;
}